body {
	display: flex;
	justify-content: center;
	background-color: var(--background-color);
	color: var(--text-color);
}

.wrapper {
	width: 75%;
}

h1 {
	font-family: var(--bungee);
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

h6 {font-size: 1em;}

body {
	font-family: var(--roboto);
	font-size: 1.2em;
}

em {
	font-style: normal;
	color: var(--light-brown);
}