body {
	display: flex;
	justify-content: center;
	background-color: var(--background-color);
	color: var(--text-color);
}

.wrapper {
	width: 75%;
}

h1 {
	font-family: var(--bungee);
	font-size: 2.2em;
}

p {
	font-family: var(--roboto);
	font-size: 1.2em;
}