.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

.avatar {
  margin-bottom: 2em;
}

.title, .subtitle {
  margin: 0;
}

.title {
  font-size: 3em;
}

.subtitle {
  margin-top: 15px;
  font-size: 2em;
  font-family: var(--roboto);
}

.info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.info:first-child {
  margin-bottom: 10px;
}